.btn {
    /* position: fixed;
    bottom: 100px;
    right: 20px; */
    padding: 10px 20px;
    background-color: rgb(17, 84, 199);
    color: white;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    padding: 10px 10px;
    width: 60px;
    height: 60px;
    margin: 0px 10px;

}

.btn:hover {
    background-color: rgb(18, 97, 232);
}
.btn-stop {
    /* position: fixed;
    bottom: 100px;
    right: 20px; */
    padding: 10px 20px;
    background-color: rgb(234, 25, 46);
    color: white;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    padding: 10px 10px;
    width: 60px;
    height: 60px;
   margin: 0px 10px;


}

.btn-stop:hover {
    background-color: rgb(245, 43, 63);
}

.body-head {
    display: flex;

    align-items: end;
    justify-content: center;
    height: 90vh;
}